div.page-content.authn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 100vh;
}

div.page-content.authn h1 {
    position: relative;
    color: var(--icolor-primary);
    text-align: center;
    margin-bottom: 16px;
}

div.page-content.authn div.widget {
    max-width: 100%;
    width: 420px;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    white-space: nowrap;
}

div.page-content.authn div.widget div.top-name {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--icolor-gray);
}

div.page-content.authn div.widget div.top-name > span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--icolor-primary);
    text-transform: uppercase;
}

div.page-content.authn div.iweb-row input {
    border-radius: 18px;
}

div.page-content.authn div.iweb-row button[type="submit"] {
    font-size: 1.125rem;
    border-radius: 18px;
}

div.page-content.authn div.ip_address {
    position: fixed;
    background: var(--icolor-primary);
    width: 100%;
    color: var(--icolor-white);
    left: 0px;
    bottom: 0px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

div.page-content.authn a.back > i {
    vertical-align: middle;
}

@media only screen and (max-width: 720px) {
    div.page-content.authn div.widget {
        padding: 20px;
        white-space: normal;
    }
}