div.iweby-input {
    position: relative;
    display: block;
}

div.iweby-input input[type="text"],
div.iweby-input input[type="password"],
div.iweby-input input[type="datetime-local"],
div.iweby-input input[type="date"],
div.iweby-input input[type="time"],
div.iweby-input input[type="color"],
div.iweby-input input[type="tel"],
div.iweby-input input[type="email"],
div.iweby-input input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background-color: var(--icolor-white);
    font-family: 'NotoSansTC', 'NotoSansSC', 'Microsoft JhengHei', '微軟正黑體', 'PingFang TC', 'Heiti TC', 'Arial', sans-serif;
    font-size: 0.9375rem;
    color: var(--icolor-black);
    width: 100%;
    height: 36px;
    padding: 4px 12px;
    border: 2px solid var(--icolor-gray);
    border-radius: 4px;
    resize: none;
}

div.iweby-input input[type="text"].error,
div.iweby-input input[type="password"].error,
div.iweby-input input[type="datetime-local"].error,
div.iweby-input input[type="date"].error,
div.iweby-input input[type="time"].error,
div.iweby-input input[type="color"].error,
div.iweby-input input[type="tel"].error,
div.iweby-input input[type="email"].error,
div.iweby-input input[type="number"].error {
    border-color: var(--icolor-lightred) !important;
}

div.iweby-input-autocomplete > small.tips, 
div.iweby-input small.tips {
    position: relative;
    display: block;
    color: var(--icolor-red);
    padding-top: 4px;
}